.about-text {
	position: absolute;
	width: 30%;
	left: 46%;
	bottom: 35%;
	transform: translateX(-50%);
	margin: 0;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Noser', monospace;
	font-size: clamp(1.5rem, 5vw, 1rem);
	color: #00f7ff;
	text-shadow: 0 0 8px #00f7ff, 0 0 20px #00f7ffb9;
	line-height: 1.2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-computer-wrapper {
	margin-top: 100px;
	bottom: 0;
	left: 30%;

	width: 100%;
	max-width: 90%;
	pointer-events: none;
	z-index: 1;
	display: flex;
	justify-content: center;
}

.about-computer-img {
	width: clamp(60%, 90vw, 90%);
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
