.about-container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-text {
	position: absolute;
	padding: 15px;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'ByteBounce', monospace;
	font-size: 1.3rem;
	color: #00f7ff;
	text-shadow: 0 0 8px #00f7ff, 0 0 20px #00f7ffb9;
	line-height: 1.2;
	text-align: left;
}

.about-text p {
	text-align: center;
}

.about-computer-wrapper {
	position: absolute;
	top: 20%;
	pointer-events: none;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-computer-img {
	width: 950px;
	height: auto;
}

.screen-btn {
	margin-top: 10px;
	padding: 5px 10px 5px 10px;
	background-color: #00f7ff;
	color: #000;
	font-family: 'ByteBounce', monospace;
	text-decoration: none;
	display: inline-block;
	white-space: nowrap;
}

.screen-btn:hover {
	background-color: #00f7ffbc;
	color: #0f0909;
}
