@font-face {
	font-family: 'Noser';
	src: url('../assets/fonts/Noser/NoserRegular.woff2') format('woff2'),
		url('../assets/fonts/Noser/NoserRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ByteBounce';
	src: url('../assets/fonts/ByteBounce/ByteBounce.woff2') format('woff2'),
		url('../assets/fonts/ByteBounce/ByteBounce.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
