.nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;

	display: flex;
	justify-content: flex-end;
	align-items: center;

	padding: 10px 20px;
	background-color: transparent;

	gap: 15px;

	transition: background-color 0.4s ease, box-shadow 0.4s ease,
		justify-content 0.4s ease, padding 0.4s ease;
	z-index: 1000;
}

.nav.scrolled {
	padding: 10px 40px;
}

.nav a {
	font-family: 'Noser', monospace;
	font-size: 1.4rem;
	color: #000000;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	padding: 10px 15px;
	white-space: nowrap;
	transition: color 0.3s ease;
}

.nav a:focus,
.nav a:active {
	text-decoration: none;
	outline: none;
}

.nav.scrolled a {
	color: #fff;
	text-shadow: 0 0 8px #00f7ff, 0 0 20px #00f7ffb9;
}
