.project-wrapper {
	position: absolute;
	top: 41%;
	left: 52%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	color: #ffff;
	height: 500px;
	width: 850px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.6rem;
	line-height: 1.2;
}

/* Project Content */
.project-content {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;
	gap: 20px;
}

.project-content h1 {
	color: #00f7ff;
	text-shadow: 0 0 8px #00f7ff, 0 0 20px #00f7ff3c;
}
.project-text {
	display: flex;
	width: 60%;
	flex-direction: column;
}

.tech-list {
	color: #00f7ff;
}

.project-image {
	position: relative;
	width: 50%;
	height: 400px;
	overflow: hidden;
}

.project-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	animation: slideInFromLeft 1s ease-out;
}

@keyframes slideInFromLeft {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

/* Project Buttons */
.project-buttons .btn {
	margin: 10px 0;
	padding: 6px 17px;
	background-color: #00f7ff;
	color: #000;
	font-family: 'ByteBounce', monospace;
	text-decoration: none;
	display: inline-block;
	white-space: nowrap;
	border: none;
	font-size: 1.2rem;
	transition: background 0.2s, color 0.2s;
	cursor: pointer;
}

.project-buttons .btn.active,
.project-buttons .btn:focus {
	background-color: #00f7ffbc;
	color: #fff;
	outline: none;
}

.project-buttons .btn:hover {
	background-color: #00f7ffbc;
	color: #0f0909;
}

/* Slideshow Container */
.slideshow-container {
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 20px;
}

/* Slides */
.mySlides {
	display: none;
	flex-direction: row;
}

#slide1 {
	display: block;
}

#slide2,
#slide3 {
	display: none;
}

/* Fading Animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

/* Navigation Buttons */
.navigation-buttons {
	color: #000000;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 15px;
}

.navigation-buttons .prev,
.navigation-buttons .next {
	cursor: pointer;
	padding: 10px 10px;
	font-size: 18px;
	background-color: #00f7ff;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 8px #00f7ff, 0 0 20px #00f7ff3c;
}

.navigation-buttons .prev:hover,
.navigation-buttons .next:hover {
	background-color: #ddd;
}

/* Responsive styles for Large Screens */
@media (max-width: 855px) {
	.project-wrapper {
		width: 95%;
		font-size: 1.3rem;
		padding: 15px;
	}

	.project-content h1 {
		font-size: 1.8rem;
		text-shadow: 0 0 8px #00f7ff21, 0 0 20px #00f7ff00;
	}
	.project-buttons .btn {
		font-size: 1.1rem;
		padding: 8px 12px;
	}
}

@media (max-width: 750px) {
	.project-wrapper {
		width: 98%;
		font-size: 1.3rem;
		padding: 15px;
	}

	.project-content {
		flex-direction: column;
	}
	.project-text {
		width: 100%;
	}

	.project-content h1 {
		font-size: 1.8rem;
		text-shadow: 0 0 8px #00f7ff21, 0 0 20px #00f7ff00;
	}
	.project-buttons .btn {
		font-size: 1.1rem;
		padding: 8px 12px;
	}
}
