<section class="section about-section" id="about">
	<div class="about-container zoom-on-scroll">
		<div class="about-skills-container">
			<!-- Slide 1: About Summary -->
			<div class="slide-nav">
				<button id="to-about" class="nav-btn active"></button>
				<button id="to-skills" class="nav-btn"></button>
			</div>
			<div id="about-summary" class="about-text slide active">
				<h1>I'm a Full Stack Developer</h1>
				<p>
					I love technology and I enjoy figuring out how things work. I'm always
					up for challenges and find learning and solving problems exciting. I
					work well in teams and can also handle projects on my own. Besides my
					technical abilities, I find joy in expressing my creativity through
					art, animation, film, and design.
					<br />
					<a
						href="https://github.com/rigelle-cruz/coding-resources"
						class="screen-btn pixel-corners"
						target="_blank">
						Check out my coding resources! 🚀
					</a>
				</p>
			</div>

			<!-- Slide 2: Skills -->
			<div id="skills-summary" class="about-text slide">
				<h2>Technical Skills & Tools</h2>

				<ul>
					<li>
						<span class="skills-text">Languages:</span> HTML, CSS, JavaScript,
						TypeScript, SQL
					</li>
					<li>
						<span class="skills-text">Frontend:</span> React, Redux, Tailwind,
						CSS, Vite, Zustand/Context API, Zod, React Hook, SASS/SCSS,
						Storybook, Axios/Fetch API
					</li>
					<li>
						<span class="skills-text">Backend:</span> Node.js, Express, Knex.js
					</li>
					<li>
						<span class="skills-text">Databases:</span> PostgreSQL, SQLite
					</li>
					<li>
						<span class="skills-text">Tools:</span> Git, GitHub, VS Code, Figma
					</li>
					<li><span class="skills-text">Testing:</span> Vitest, Jest, TDD</li>
					<li>
						<span class="skills-text">Other:</span> REST APIs, JWT Auth,
						WordPress, Adobe Suite
					</li>
					<li>
						<span class="skills-text">Methodologies:</span> Agile, SCRUM, Kanban
					</li>
				</ul>
			</div>
		</div>
		<div class="about-computer-wrapper">
			<img
				src="../assets/images/computer-black-screen.PNG"
				alt="Computer"
				class="about-computer-img" />
		</div>
	</div>
</section>
