<section class="section about-section">
	<div class="about-container zoom-on-scroll">
		<div class="about-text">
			<h2>I'm a Full Stack Developer</h2>
			<br />
			<p>
				I love technology and I enjoy figuring out how things work. I'm always
				up for challenges and find learning and solving problems exciting. I
				work well in teams and can also handle projects on my own. Besides my
				technical abilities, I find joy in expressing my creativity through art,
				animation, film, and design.
				<br />
				<a
					href="https://github.com/rigelle-cruz/coding-resources"
					class="screen-btn pixel-corners"
					target="_blank">
					Check out my coding resources! 🚀
				</a>
			</p>
		</div>
		<div class="about-computer-wrapper">
			<img
				src="../assets/images/computer-black-screen.PNG"
				alt="Computer"
				class="about-computer-img" />
		</div>
	</div>
</section>
