<section class="section about-section" id="about">
	<div class="about-container zoom-on-scroll">
		<div class="about-skills-container">
			<!-- Slide 1: About Summary -->
			<div class="slide-nav">
				<button id="to-about" class="nav-btn pixel-corners active">
					About
				</button>
				<button id="to-skills" class="nav-btn pixel-corners">Skills</button>
			</div>
			<div id="about-summary" class="about-text slide active">
				<h1>I'm a Full Stack Developer</h1>
				<p>
					I love technology and I enjoy figuring out how things work. I'm always
					up for challenges and find learning and solving problems exciting. I
					work well in teams and can also handle projects on my own. Besides my
					technical abilities, I find joy in expressing my creativity through
					art, animation, film, and design.
					<br />
					<a
						href="https://github.com/rigelle-cruz/coding-resources"
						class="screen-btn pixel-corners"
						target="_blank">
						Check out my coding resources! 🚀
					</a>
				</p>
			</div>

			<!-- Slide 2: Skills -->
			<div id="skills-summary" class="about-text slide">
				<h1>Skills</h1>
				<p>
					This is the Skills section. This is just placement text.
				</p>
			</div>
		</div>
		<div class="about-computer-wrapper">
			<img
				src="../assets/images/computer-black-screen.PNG"
				alt="Computer"
				class="about-computer-img" />
		</div>
	</div>
</section>
