<section class="section contact-section">
	<div class="contact-container">
		<h1 class="typed-name">Say Hello.</h1>
		<ul class="contact-list">
			<li>
				<strong>Phone:</strong>
				<a href="tel:0221724367">022 172 4367</a>
			</li>
			<li>
				<strong>Email:</strong>
				<a href="mailto:rigellecruz@gmail.com">rigellecruz@gmail.com</a>
			</li>
			<li>
				<div class="contact-icons">
					<a
						href="https://github.com/rigelle-cruz"
						target="_blank"
						rel="noopener"
						aria-label="GitHub">
						<img
							src="/assets/icons/github.svg"
							alt="GitHub"
							width="50"
							height="50" />
					</a>
					<a
						href="https://www.linkedin.com/in/rigelle-cruz-9b8116204/"
						target="_blank"
						rel="noopener"
						aria-label="LinkedIn">
						<img
							src="/assets/icons/linkedin.svg"
							alt="LinkedIn"
							width="50"
							height="50" />
					</a>
				</div>
			</li>
		</ul>
	</div>
</section>
