<section class="section hero">
	<div class="hero-content">
		<div class="computer-wrapper">
			<div class="name-container">
				<div class="name-overlay">
					<span class="typed-name">Rigelle Cruz</span>
					<span class="cursor">|</span>
				</div>
				<a
					href="../files/Rigelle-Cruz-Resume.pdf"
					class="resume-btn"
					target="_blank">
					Download My Resume
				</a>
			</div>
			<img
				src="../assets/images/computer-black-screen.PNG"
				alt="Computer"
				class="computer-img" />
		</div>
	</div>
</section>
