<section class="section projects-section">
	<div class="project-wrapper">
		<div class="browser">
			<div class="top-bar">
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
			</div>
		</div>
		<div class="project-content">
			<h1>Project One</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				commodo consequat.
			</p>
			<span class="tech-list"> HTML, CSS, JavaScript </span>
			<div class="project-buttons pixel-corners">
				<a
					href="https://github.com/yourusername/yourproject"
					class="btn"
					target="_blank"
					>SOURCE CODE</a
				>
				<a href="https://yourprojectliveurl.com" class="btn" target="_blank"
					>LIVE VIEW</a
				>
			</div>
		</div>
	</div>
</section>
