<section class="section projects-section">
	<div class="project-wrapper">
		<div class="browser">
			<div class="top-bar">
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
			</div>
		</div>
		<!-- Slideshow container -->
		<div class="slideshow-container">
			<!-- Next and previous buttons -->
			<div class="navigation-buttons">
				<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
				<a class="next" onclick="plusSlides(1)">&#10095;</a>
			</div>
			<!-- slide 1 -->
			<div id="slide1" class="mySlides fade">
				<div class="project-content">
					<h1>Project One</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>
					<span class="tech-list"> HTML, CSS, JavaScript </span>
					<div class="project-buttons pixel-corners">
						<a
							href="https://github.com/yourusername/yourproject"
							class="btn"
							target="_blank"
							>SOURCE CODE</a
						>
						<a href="https://yourprojectliveurl.com" class="btn" target="_blank"
							>LIVE VIEW</a
						>
					</div>
				</div>
				
			</div>

			<!-- slide 2 -->
			<div id="slide2" class="mySlides fade">
				<div class="project-content">
					<h1>Project Two</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>
					<span class="tech-list"> HTML, CSS, JavaScript </span>
					<div class="project-buttons pixel-corners">
						<a
							href="https://github.com/yourusername/yourproject"
							class="btn"
							target="_blank"
							>SOURCE CODE</a
						>
						<a href="https://yourprojectliveurl.com" class="btn" target="_blank"
							>LIVE VIEW</a
						>
					</div>
				</div>
				
			</div>

			<!-- slide 3 -->
			<div id="slide3" class="mySlides fade">
				<div class="project-content">
					<h1>Project Three</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>
					<span class="tech-list"> HTML, CSS, JavaScript </span>
					<div class="project-buttons pixel-corners">
						<a
							href="https://github.com/yourusername/yourproject"
							class="btn"
							target="_blank"
							>SOURCE CODE</a
						>
						<a href="https://yourprojectliveurl.com" class="btn" target="_blank"
							>LIVE VIEW</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
